<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios No Votados</title>
</head>
<body>
    <h1>Usuarios que no han votado</h1>


        {% for usuario in usuarios %}
  
                <h2>{{ usuario.nombre }}</h2>
                <p><strong>Email:</strong> {{ usuario.email }}</p>
                <p><strong>Cuenta Bancaria:</strong> {{ usuario.cuentabancaria.numero_cuenta }} - {{ usuario.cuentabancaria.banco }}</p>
    
        {% endfor %}

</body>
</html>
